
# Be sure to add the drivers to your git config, either globally or per project.
#
# git config --globally merge.ours.driver true
# git config --globally merge.theirs.driver true

src/client/src/plugins/common/**        merge=theirs
src/client/src/plugins/!(common)/**     merge=ours
src/client/src/plugins/*                merge=ours

