<template>
    <div class="hello">
        <h3>Home</h3>
        <p>Welcome</p>
    </div>
</template>

<script>

    export default {

        name: "Home",
        components: {},

        watch: {},


        data ()
        {
            return {}
        },


        created: function()
        {

        },


    }

</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus" scoped>

    //@import "../../assets/css/tailwind.min.css";


    .list-group-item
    padding 0.5rem

        & i
               width 24px
                       text-align center
                       margin-right 0.5rem




</style>
